/**********************************************/
/* Layout
/**********************************************/
#elements-content.source-code {
  background: #242537 !important;
  font-size: 12px !important;
}

#elements-content .highlight { 
  color: #d4d4d4;
}

#elements-content .selection {

}

#elements-content .selection.selected {

}

#elements-content .parent {

}

/*.outline-disclosure ol:focus li.parent.expanded.selected::before*/
#elements-content .outline-disclosure li.parent::before,
#elements-content .outline-disclosure ol:focus li.parent.expanded.selected::before {
  background: none !important;
  content: '' !important;
}

#elements-content .parent.selected {
  
}

#elements-content .parent.selected {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#elements-content .parent.expanded {
  
}

#elements-content .parent::before {
  content: url(chrome-devtools://devtools/Images/treeRightTriangleWhite.png) !important;
  position: relative;
  z-index: 999;
}

#elements-content .parent.expanded::before {
  content: url(chrome-devtools://devtools/Images/treeDownTriangleWhite.png) !important;
}

#elements-sidebar .styles-section .properties li.parent::before,
#elements-sidebar .section > .header::before,
#elements-sidebar .properties-tree li.parent::before,
#elements-sidebar .event-bars .event-bar .header::before {
  content: url(chrome-devtools://devtools/Images/treeRightTriangleWhite.png) !important;
}

#elements-sidebar .styles-section .properties li.parent.expanded::before,
#elements-sidebar .section.expanded > .header::before,
#elements-sidebar .properties-tree li.parent.expanded::before,
#elements-sidebar .event-bars .event-bar.expanded .header::before {
  content: url(chrome-devtools://devtools/Images/treeDownTriangleWhite.png) !important;
}

/**********************************************/
/* HTML
/**********************************************/
#elements-content .webkit-html-comment {
  color: #8c8c8c !important;
}

#elements-content .webkit-html-doctype {

}

#elements-content .webkit-html-tag {
  color: #ffc97c !important;
}

#elements-content .webkit-html-tag-name {
    
}

#elements-content .webkit-html-attribute {

}

#elements-content .webkit-html-attribute-name {
  color: #d97640 !important;
}

#elements-content .webkit-html-attribute-value {
  color: #abca7e !important;
}

#elements-content .webkit-html-external-link {

} 

#elements-content .webkit-html-resource-link {

}

#elements-content .webkit-html-text-tag {

}

#elements-content .webkit-html-text-node {
  color: #c2c3c3 !important;
}

#elements-content .webkit-html-css-node {
  color: #c2c3c3 !important;
}

#elements-content .webkit-html-js-node {
  color: #c2c3c3 !important;
}


/**********************************************/
/* CSS
/**********************************************/

#elements-content .webkit-css-comment {

}

#elements-content .webkit-css-url {

}

#elements-content .webkit-css-color {

}

#elements-content .webkit-css-selector {
	color: #c2c3c3 !important;
} 

#elements-content .webkit-css-property {

}

#elements-content .webkit-css-number {

}

#elements-content .webkit-css-keyword {

}

#elements-content .webkit-css-string {

}

#elements-content .webkit-css-important {

}


/**********************************************/
/* JavaScript
/**********************************************/
#elements-content .webkit-javascript-comment {

}

#elements-content .webkit-javascript-keyword {
  color: #d97640 !important;
}

#elements-content .webkit-javascript-ident {
  color: #d97640 !important;
}

#elements-content .webkit-javascript-string {

}

#elements-content .webkit-javascript-number {

}

#elements-content .webkit-javascript-regexp {

}

/**********************************************/
/* Fonts
/**********************************************/
#-webkit-web-inspector .dialog,
#-webkit-web-inspector .dialog-contents,
#-webkit-web-inspector .toolbar-label,
#-webkit-web-inspector body.platform-mac .monospace, 
#-webkit-web-inspector body.platform-mac .source-code,
#-webkit-web-inspector body.platform-mac.platform-mac-snowleopard .monospace,
#-webkit-web-inspector body.platform-mac.platform-mac-snowleopard .source-code,
#-webkit-web-inspector body.platform-windows .monospace, 
#-webkit-web-inspector body.platform-windows .source-code,
#-webkit-web-inspector body.platform-linux .monospace, 
#-webkit-web-inspector body.platform-linux .source-code,
#-webkit-web-inspector .console-message .bubble,
#-webkit-web-inspector .source-code,
#-webkit-web-inspector li .status .bubble,
#-webkit-web-inspector .source-frame-breakpoint-message,
#-webkit-web-inspector .soft-context-menu,
#-webkit-web-inspector .drawer-header-close-button,
body #-webkit-web-inspector,
#-webkit-web-inspector .monospace,
#-webkit-web-inspector table
{
    font-size: 14px !important;
    font-family: Arial, sans-serif !important;
    line-height: 1em;
	letter-spacing: 0em;
}

